# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that data scientists use are-
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas 
2. Keras 
3. Scikit-learn 
4. Matplotlib 
5. Numpy
6. PyTorch 
7. TensorFlow

| Data Science Tools | 
| --- |
| Jupyter Notebook |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
hrs=200/60
print(hrs)

3.3333333333333335

List popular languages for Data Science
- Python
- R
- Scala
- Julia
- Java
- SQL
- C++

## Author
 Vaibhavi Satange